<h1>Coinage v1.0</h1>
<div>
	<label for="">Enter monetary value for coin conversion. <input ng-model="amount" type="text" value="" /><button ng-click="calculate(amount)"> Convert</button></label>
	<div class="errorText" ng-if="errorText">{{errorText}}</div>
</div>
<table>
	<thead>Converting {{totalPence}} pennies into coins.</thead>
	<tr>
		<th>Coin</th>
		<th>Amount</th>
	</tr>
	<tr>
		<td>1p</td>
		<td>{{coins.pence1}}</td>
	</tr>
	<tr>
		<td>2p</td>
		<td>{{coins.pence2}}</td>
	</tr>
	<tr>
		<td>50p</td>
		<td>{{coins.pence50}}</td>
	</tr>
	<tr>
		<td>&#163;1</td>
		<td>{{coins.pence100}}</td>
	</tr>
	<tr>
		<td>&#163;2</td>
		<td>{{coins.pence200}}</td>
	</tr>
</table>