<section class="module-wrapper">
	<header class="module-header"><h1>Coinage v1.0</h1></header>
	<div class="coinage-form">
		<label for="change">Enter monetary value for coin conversion.</label><input ng-model="amount" type="text" value="" name="change" id="change" tabindex="0" /><button ng-click="calculate(amount)" tabindex="0"> Convert</button>
		<div class="error-text" ng-if="errorText">{{errorText}}</div>
	</div>
	<div class="coinage-results">
		<h2>Converting <span>{{totalPence}}</span> pennies into coins.</h2>
		<table>
			<thead>
				<tr>
					<th>Coin</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1p</td>
					<td>{{coinResults.pence1}}</td>
				</tr>
				<tr>
					<td>2p</td>
					<td>{{coinResults.pence2}}</td>
				</tr>
				<tr>
					<td>50p</td>
					<td>{{coinResults.pence50}}</td>
				</tr>
				<tr>
					<td>&#163;1</td>
					<td>{{coinResults.pence100}}</td>
				</tr>
				<tr>
					<td>&#163;2</td>
					<td>{{coinResults.pence200}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer class="module-footer">&copy; Coinage 2014</footer>
</section>